@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply max-w-screen-2xl px-4 lg:px-10 mx-auto;
}

.help {
	@apply text-sm mt-3 ml-1;
}

progress[value]::-webkit-progress-value {
	transition: width 0.25s;
}

.input,
.textarea {
	@apply border-secondary/50;
}

.color-picker .container {
	padding: 0;
	max-width: none;
	width: auto;
	margin: 0;
}
